<div >  
  <h2 style="background-color: green;color:white;text-align: center;">{{title}}</h2>
  <div>
    <img src="/assets/images/R.gif" *ngIf="hide"><router-outlet></router-outlet>
    <label>CLASSIFICATION</label><br>
    <label>OF</label><br>
    <label>SPECIES</label>
  </div><br><br>

  <div>
  <nav>
    <button (click)="hid()" ><a routerLink="/mamals" >MAMALS</a></button><br><br>
    <button (click)="hid()"><a routerLink="/aves">AVES</a></button><br><br>
    <button (click)="hid()"><a routerLink="/pisces">PISCES</a></button><br><br>
    <button (click)="hid()" ><a routerLink="/amphibians" style="padding: 10px 10px;">AMPHIBIANS</a></button><br><br>
    <button (click)="hid()"><a routerLink="/reptiles" style="padding: 10px 10px;">REPTILES</a></button><br><br>
    <button (click)="hider()"><a routerLink="/" style="padding: 10px 10px;">HOME</a></button>
  </nav>
</div><br><br>
<div><div style="background-color: blue;color: white;" *ngIf="hide"><h3>This App is developed by LourdHarshan</h3></div></div></div>